.react-calendar {
  width: 350px;
  max-width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.125em;
  color: #676c76;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  font-size: 1.3rem;
  height: 5rem;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: inline-flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  padding: 1rem 0.5rem;
  background: none;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

/* 요일 */
abbr[title] {
  text-decoration: none;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

/* .react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
} */

.react-calendar__tile {
  max-width: 100%;
  height: 45px;
  padding: 0;
  background: none;
  text-align: center;
  line-height: 1.5rem;
  color: #676c76;
}

/* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #aaaaaa;
} */

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

/* 현재 달/날짜 */
.react-calendar__tile--now {
  color: #676c76;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

/* 선택한 달 */
.react-calendar__tile--hasActive {
  color: #2e437a;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

/*  선택 날짜: *: 텍스트에 적용.. */
.react-calendar__tile--active * {
  color: #2e437a;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  background-image: url("/assets/img/foot_true.png");
  background-size: cover;
  position: absolute;
  margin: -2rem 0 0 1.7rem;
  opacity: 80%;
  z-index: -100000;
}

.finance-wrapper {
  display: flex;
  justify-content: end;
  margin: 0 1rem 0 0;
}

.cost {
  position: absolute;
  font-size: 0.5rem;
  margin: -0.1rem 0 0 1.5rem;
  color: #3d3d3d;
  font-weight: 300;
  text-decoration: none;
}

.income {
  position: absolute;
  font-size: 0.5rem;
  margin: 0.8rem 0 0 1.5rem;
  color: #8cbff2;
  font-weight: 300;
  text-decoration: none;
}
